html,
body {
  @apply h-full overflow-hidden bg-blue-800; // TailwindCSS
  height: 100vh; // Hauteur totale de la fenêtre
  width: 100vw; // Largeur totale de la fenêtre
  cursor: default; // Désactive le curseur de texte
  margin: 0; // Supprime toute marge par défaut
  padding: 0; // Supprime tout padding par défaut
  box-sizing: border-box; // Inclut padding/bordures dans les calculs de taille
}

/* SCROLL BAR - BODY */
/* Style pour la barre de défilement */
::-webkit-scrollbar {
  width: 12px;
}

/* Boutons haut/bas de la barre de défilement */
::-webkit-scrollbar-button {
  background-color: #7a7a7a;
  border-radius: 10px;
}

/* Poignée de déplacement (thumb) */
::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border: 2px solid #292d37; /* Couleur du fond pour s'assurer d'une bonne séparation visuelle */
  border-radius: 10px;
}

/* Poignée de déplacement (thumb) au survol */
::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

/* Track de la scrollbar */
::-webkit-scrollbar-track {
  background-color: #292d37; /* Une couleur légèrement plus claire que le fond général */
}

/* Track de la scrollbar lorsqu'elle est active */
::-webkit-scrollbar-track:active {
  background-color: #1d2033; /* Une couleur légèrement plus foncée que le fond général */
}

:root {
  /* PERMET D ENLEVER LA SELECTION POUR COPIER LE TEXTE (on désactive pour tout) */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  font-family: 'Poppins', sans-serif;
}

.v-popper__inner {
  max-width: 300px !important;
}
